body{
    background-color:rgb(245,248,250);
}
.hospital-wrapper, .main-sidebar,
.content-header .hospital-breadcrumb .breadcrumb
{
    background-color:white;
}
.hospital-wrapper, .main-sidebar{
    border:1px soid white;
    border-radius:2px;
}

.top-wrapper{
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    min-height:500px;
    height:auto;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.main-sidebar {
    min-height:500px;
}

.content-header .hospital-breadcrumb .breadcrumb>li+li:before{
    content:'>\00a0';
}

.bread-content-wrapper .content-header {
    padding:0px;
}
.bread-content-wrapper, .hospital-content-wrapper{
    margin-left: 150px;
}

.hospital-content-wrapper{
    min-height:650px;
}













::-webkit-input-placeholder {
    color: #ccc;
    font-weight: 400;
}

/* Firefox 4-18 */
:-moz-placeholder {
    color: #ccc;
    font-weight: 400;
}

/* Firefox 19-50 */
::-moz-placeholder {
    color: #ccc;
    font-weight: 400;
}

/* - Internet Explorer 10–11
   - Internet Explorer Mobile 10-11 */
:-ms-input-placeholder {
    color: #ccc !important;
    font-weight: 400 !important;
}

/* Edge (also supports ::-webkit-input-placeholder) */
::-ms-input-placeholder {
    color: #ccc;
    font-weight: 400;
}

/* CSS Pseudo-Elements Level 4 Editor's Draft */
::placeholder {
    color: #ccc;
    font-weight: 400;
}

.red_star{
    color:red;
}

.btn-link:focus{
    outline:none;
}
.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
    border-color: transparent;
    outline:none;
    box-shadow: none;
}

.btn-link:active, .btn-link.active, .btn-link:focus, .btn-link.focus {
    box-shadow: none;
    border-color: transparent;
    outline:none;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

 .btn_upload, .btn_notupload{
     height:80px;
     width:200px;
     border-radius:0px;
     font-size:16px;
 }

 .table-center>thead>tr>th{
     text-align:center;
 }

 .btn_notupload{
     background-color:rgb(50,160,220);
 }

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th{
    border-top:1px solid #ddd;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	background-color:white;
}

.gray-font {
    color:rgb(114, 114, 114);
    font:Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif
}

.sidebar-menu{
    margin-left:10px;
    margin-top:10px;
}

.main-sidebar{
    width:150px;
}
.content-wrapper{
    margin-left:150px;
    background-color:white;
}
.tree-btn-wrapper{
    margin-left:10px;
    margin-right:5px;
    text-align:left;
}
.tree-btn{
    text-align:left;
    
    display: block;
    margin:0px;
    padding:0px;
    width:100%;
    line-height:30px;
    border-radius: 3px;
    padding-left:5px;
}
.tree-btn.active{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.circle{
    width:14px;
    height:14px;
    background-color:rgb(173,217,240);
    border-radius:50%;
    margin-right:5px;
    margin-top:auto;
    margin-bottom:auto;

}

.form-horizontal{
    margin-left:30px;
    margin-right:20px;
    margin-top:20px;
}
.control-label{
    padding-right:5px;
    padding-left:20px;
    padding-top:0px;
}
.control-label-80{
    width:80px;
    padding-left:10px;
}
.control-label-100{
    width:100px;
}
.control-label-110{
    width:110px;
}
.control-label-150{
    width:150px;
}
.control-label-180{
    width:180px;
}

.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline{
    padding-top:0px;
}
.form-horizontal .checkbox{
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top:5px;
}

.form-horizontal .control-label{
    padding-top:0px;
}
.control-grid{
    padding-right:0px;
    padding-left:0px;
}

.form-group{
    margin-top:10px;
}

.no-padding-grid{
    padding-right:0px;
    padding-left:0px;
}

.form-control.input-sm{
    width:200px;
}
.control-table td{
    vertical-align: middle;
}
.control-table.padding-10 td{
    padding-bottom:10px;
}
.control-table.padding-20 td{
    padding-bottom:20px;
}

.table-responsive{
    overflow-x: hidden;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #ddd;
}


.copyright {
    clear: both;
    text-align: center;
    font-size: 14px;
}

.login-wrapper{
    margin-left:auto;
    margin-right:auto;
    background-image: url(../img/login.png); 
    background-repeat: no-repeat;
    background-position: 150px 100px; 
    height:500px;
    padding-left:700px;
    padding-top:100px;
}

.login-wrapper .control-table td{
    height:40px;
}

.login-wrapper2{
    background-color:rgb(174,220,240);
    width:340px;
    padding:10px;
}

.login-wrapper3{
    background-color:white;
    padding:10px;
}

.login-wrapper2 .form-control {
    width:300px;
    
}

.login-wrapper2 .btn-primary{
    background-color:rgb(85,173,220);
    border-color:rgb(85,173,220);
    width:280px;
    font-size:18px;
}

.navbar-custom-menu.login{
    padding-right:30px;
    padding-top:10px;
}
.navbar-custom-menu.login button{
    background-color:rgb(85,173,220);
    border-color:rgb(85,173,220);
    width:150px;
}

.main-header{
    padding-top:10px;
    padding-bottom:10px;
}

/* Tooltip */
.tooltip > .tooltip-inner {
    background-color: rgb(242,222,222); 
    color: red; 
    border: 1px solid #ebccd1;

}

/* Tooltip on top */
.tooltip.top > .tooltip-arrow {
    border-top: 5px solid #ebccd1;
}

/* Tooltip on bottom */
.tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid blue;
}

/* Tooltip on left */
.tooltip.left > .tooltip-arrow {
    border-left: 5px solid red;
}

/* Tooltip on right */
.tooltip.right > .tooltip-arrow {
    border-right: 5px solid #ebccd1;
}

.errormsg .alert{
    padding:5px;
}

.errormsg .msg-wrap {
    min-height: 23px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto!important;
}

.errormsg .msg-error {
    position: relative;
    background: #ffebeb;
    color: #e4393c;
    border: 1px solid #faccc6;
    padding: 3px 10px 3px 40px;
    line-height: 15px;
    height: auto;
    
}

.errormsg .msg-error b {
    position: absolute;
    top: 50%;
    left: 10px;
    display: block;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background: url(../img/pwd-icons-new.png) -104px -49px no-repeat;
}
.errormsg{
    text-align:left;
    visibility: hidden
}
.errormsg.error_active{
    visibility:visible;
}

.wrapper.top-wrapper,.login-top-wrapper{
    width:1200px;
    margin-left:auto;
    margin-right:auto;
}
.top-hr{
    width:100%;
    height:2px;
    background-color:RGB(50,160,220);
    margin-bottom:20px;
}

.main-container{
    min-height:650px;
}

.table-query .btn{
    padding:0px;
}

/*                  page nav    */
.pagination>li.page-nav-dot>a{
    border:none;
    cursor:default;
    color:#666;
}

.pagination>li.page-nav-cur>a{
    border:none;
    color:red;
    cursor:default;
}
.pagination>li.page-nav-cur>a:hover, .pagination>li.page-nav-cur>a:active, .pagination>li.page-nav-cur>a:focus,
.pagination>li.page-nav-dot>a:hover,.pagination>li.page-nav-dot>a:active,.pagination>li.page-nav-dot>a:focus{
    background-color:#fafafa;
    cursor:default;
}

.pagination>li.nav-page-total>a,
.pagination>li.page-nav-total>a:hover, .pagination>li.page-nav-total>a:active, .pagination>li.page-nav-total>a:focus
{
    background-color:#fafafa;
    cursor:default;
    color:#666;
}




/* Full-width input fields */
.login_modal input[type=text], .login_modal input[type=password] {
    width: 300px;
}

/* Set a style for all buttons */
.login_modal button {
    height:40px;
    width: 100px;
}

.login_modal button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.login_modal .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.login_modal .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.login_modal img.avatar {
    width: 40%;
    border-radius: 50%;
}

.login_modal .container {
    padding: 16px;
    width:100%;
}

.login_modal span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.login_modal.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.login_modal .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 500px; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.login_modal .close {
    position: absolute;
    right: 5px;
    top: 0;
    color: #000;
    font-size: 25px;
    font-weight: bold;
}

.login_modal .close:hover,
.login_modal .close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.login_modal .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    .login_modal span.psw {
       display: block;
       float: none;
    }
    .login_modal .cancelbtn {
       width: 100%;
    }
}